.contentModal {
    position: fixed;
    z-index: 1;
    left: 0px;
    top: 0px;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255, 0.7);
}

.contentFormEst {
    background-color: #ffffff;
    box-shadow: 0px 0px 12px 2px rgb(0 0 0 / 29%);
    border-radius: 15px;
    padding: 25px;
}

.cerrarForm {
    display: flex;
    width: 100%;
    justify-content: end;
    
}

.btnCerrar,
.btnCerrar:hover,
.btnCerrar:active {
    border: none;
    background-color: rgb(255, 255,255, 0);
    cursor: pointer;

}

.btnCerrar:hover {
    font-weight: bolder;
}

.controlInput {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    margin-top: 15px;
    
}

.controlInput label {
    width: 20px;
   
}

.controlBtnMod button{
    margin-top: 15px;
    padding: 10px;
    color: rgb(252, 252, 252);
    background-color: rgb(21, 175, 202);
    border: 0;
    border-radius: 12px;
}