body {
    height: 100vh;
}

.contentPage {
   display: grid;
   gap: 10px;
   width: 100%;
   grid-template-columns: 1fr 1fr 1fr;
   grid-template-rows: 100px 1fr;
   grid-template-areas: "titulo titulo titulo"
   "Estudiante tabla tabla";
}

.contentEstudiante {
    grid-area: Estudiante;
}

.contentTableAct  {
    grid-area: tabla;
}


.contentTitulo {
    grid-area: titulo;
    text-align: center;
 
}

.contentTableActividades {
    width: 50%;
    display: flex;
    align-items: flex-start;   
    justify-content: center;
}

.tableAct, th, td {
    border-spacing: 15px;
     
}

th, td {
    
    border-bottom: 1px solid rgb(81, 75, 75);

}

tbody tr:hover {background-color: rgb(129, 203, 44);}

.contentFormEst {
    display: none;
}

.contentFormAct {
    display: none;
}